*
{
    margin: 0;
    padding: 0;
}

body 
{
    font-family: arial,sans-serif;
    font-size: 16px;
    background-color: gray;
}

#page
{
    margin: auto;
    width: 100vh;
    height: auto;
    background-color: white;
    padding: 20px;
    border: cyan 5px solid;
    border-radius: 25px;
}

#identite h1
{
    border-bottom: none;
}

h1
{
    text-align: center;
    border-bottom: cyan 5px solid;
    margin-bottom: 20px;
    margin-top: 20px;
    color: darkcyan;
}

h2
{
    font-size: 1.5em;
    margin-top: 15px;
}

h3
{
    display: inline;
}

#identite
{
    padding-top: 25px;
    margin: auto;
}

#identite h1, #identite p
{
    text-align: center;
}

#formation, #experiencespro, #langues, #activitesextra
{
    padding-top: 25px;
}

